<section class="users-table">

  <ng-container *ngIf="users$ | async as users; else loading">
    <div class="table">
      <div class="header">
        <div>ID</div>
        <div>Name</div>
        <div>Username</div>
        <div>Email</div>
        <div>Phone</div>
        <div>Website</div>
      </div>

      <div class="rows">
        <div *ngFor="let user of users" class="row" (click)="openModalForUsersTodos()">
          <div class="cell">{{ user.id }}</div>
          <div class="cell">{{ user.name }}</div>
          <div class="cell">{{ user.username }}</div>
          <div class="cell">{{ user.email }}</div>
          <div class="cell">{{ user.phone }}</div>
          <div class="cell">{{ user.website }}</div>
        </div>
      </div>
    </div>
  </ng-container>
</section>



<app-modal *ngIf="showModal" (closeModal)="showModal = false">
  <app-todo-list [todosList$]="todos$"></app-todo-list>
</app-modal>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
