<section class="responsive-design">

  <div class="progress-bar">

    <div class="progress-container">
      <div class="checkmark">&#10003;</div>
      <p>סוג כרטיס, מוצא ויעד</p>
    </div>

    <div class="divider"></div>

    <div class="progress-container">
      <div class="checkmark">&#10003;</div>
      <p>נוסעים</p>
    </div>

    <div class="divider"></div>

    <div class="progress-container">
      <div class="checkmark">&#10003;</div>
      <p>מועד וקו</p>
    </div>

    <div class="divider"></div>

    <div class="progress-container complete">
      <div class="checkmark">4</div>
      <p>סיכום ותשלום</p>
    </div>

  </div>

  <div class="payment-and-time">
    <p class="payment-title">סיכום ותשלום</p>

    <div class="clock">
      <div class="clock-icon">&#x23F0;</div>
      <p>09:15</p>
    </div>
  </div>


  <div class="transport-details">
    <div class="seats">
      <!-- DRIVE DETAILS -->
      <div class="container">

        <div class="drive">
          <p>נסיעה:</p>
          <p class="title">הלוך</p>
        </div>

        <div class="date">
          <p>25/05/2022</p>
          <p class="time">10:30</p>
        </div>

      </div>
      <!-- SEATS DESCRIPTION -->
      <div class="container">

        <div class="drive">
          <p>קו:</p>
          <p class="line">394</p>
        </div>

        <div class="sets">
          <p class="icon">&#x1F464;</p>
          <p>3 מקומות </p>
        </div>

      </div>
    </div>

    <div class="divider"></div>

    <div class="destination">
      <div class="destination-details">
        <p class="starting-point">מוצא</p>
        <p class="station">תל אביב</p>
        <p class="location">תחנה מרכזית תל אביב</p>
      </div>

      <div class="arrow-icon">&#8592;</div>

      <div class="destination-details">
        <p class="starting-point">יעד</p>
        <p class="station">אילת</p>
        <p class="location">אילת איזור תעשיה</p>
      </div>

    </div>
  </div>

  <!--  ONLY MOBILE -->
  <div class="transport-details-back">
    <div class="seats">
      <!-- DRIVE DETAILS -->
      <div class="container">

        <div class="drive">
          <p>נסיעה:</p>
          <p class="title">חזור</p>
        </div>

        <div class="date">
          <p>25/05/2022</p>
          <p class="time">12:00</p>
        </div>

      </div>
      <!-- SEATS DESCRIPTION -->
      <div class="container">

        <div class="drive">
          <p>קו:</p>
          <p class="line">390</p>
        </div>

        <div class="sets">
          <p class="icon">&#x1F464;</p>
          <p>3 מקומות </p>
        </div>

      </div>
    </div>

    <div class="divider"></div>

    <div class="destination">
      <div class="destination-details">
        <p class="starting-point">מוצא</p>
        <p class="station">אילת</p>
        <p class="location">איזור התעשיה אילת</p>
      </div>

      <div class="arrow-icon">&#8592;</div>

      <div class="destination-details">
        <p class="starting-point">יעד</p>
        <p class="station">תל אביב</p>
        <p class="location">תחנת מרכזית תל אביב</p>
      </div>

    </div>
  </div>

  <div class="summary">
    <div class="details">
      <div class="container">
        <p>2 רגיל</p>
        <div class="spacer"></div>
        <p>136.00 &#8362;</p>
      </div>

      <div class="container">
        <p>1 סטודנט</p>
        <div class="spacer"></div>
        <p>38.00 &#8362;</p>
      </div>

    </div>

    <div class="divider"></div>

    <div class="sum">
      <p class="price">סה"כ: <b>3 נוסעים</b></p>
      <div class="divider"></div>
      <p class="final-price">סה"כ לתשלום <b> 174.00 &#8362;</b></p>
    </div>
  </div>

</section>
