<section class="main">
  <header>
    <img src="./assets/logo.png" alt="egged-logo">
    <h3>Egged angular project - Iliya Melishev</h3>
  </header>

  <div class="content">
    <aside>
      <app-sidebar></app-sidebar>
    </aside>

    <router-outlet></router-outlet>
  </div>
</section>


<app-modal (closeModal)="closeModal()" *ngIf="modalConfigs?.show">
  <app-generic-modal-message [title]="modalConfigs?.title || ''"
                             [content]="modalConfigs?.content || ''">
  </app-generic-modal-message>
</app-modal>
