@import "../../../styles";

ul.todos {
  display: flex;
  flex-direction: column;

  list-style: none;
  padding: 0;
  margin: 0;

  max-height: 550px;
  overflow-x: auto;

  li {
    padding: 0.5em;
    color: $text-color-light;
    background-color: $error-color;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      background-color: lighten($error-color, 10%);
    }

    &.completed {
      background-color: $confirmation-color;

      &:hover {
        cursor: pointer;
        background-color: lighten($confirmation-color, 10%);
      }

    }
  }
}
